<div class="col s6 m3 l2 deity-card">
	<div class='card'>
		<div class="card-image">
			<% if deity.profilepic.file != nil %>
				<%= link_to image_tag(deity.profilepic.url, height: "250", styles: "object-fit: contain;"), "/deities/#{deity.id}" %>
			<% else %>
				<%= link_to image_tag("profile-placeholder.png", height: "250"), "/deities/#{deity.id}"  %>
			<% end %>
			<!-- <span class='card-title'><%=deity.name%></span> -->
		</div>
		<div class='card-title'>
			<%= deity.name %>
		</div>		
	</div>
</div>