<a class="card conversation-bar col s12 m6" href="/conversations/<%=conversation.id%>" >
	<% conversation.users.each do |user| %>
		<%if user != current_user %>
			<%= render partial: "user_tag", locals: {user: user} %>
		<% end %>
	<% end %>
</a>