
<%=render "big_mapping"%>

<a id="make-big" class="zoom-l btn-floating btn-large waves-effect waves-light red">L</a>

<a id="make-medium" class="zoom-m btn-floating btn-large waves-effect waves-light red">M</a>

<a id="make-small" class="zoom-s btn-floating btn-large waves-effect waves-light red">S</a>

<a id="shader-volc" class="shader-volc btn-floating btn-large waves-effect waves-light red">V</a>

<a class='dropdown-button btn' href='#' data-activates='dropdown1' data-beloworigin="true">Nested</a>

<ul id='dropdown1' class='dropdown-content nested'>
    <li><a class='dropdown-button d' href='#' data-activates='dropdown2' data-hover="hover" data-alignment="left">Drop Me!</a></li>
    <li><a href="#!">two</a></li>
    <li class="divider"></li>
    <li><a href="#!">three</a></li>
</ul>

<ul id='dropdown2' class='dropdown-content'>
    <li><a href="#!">one</a></li>
    <li><a href="#!">two</a></li>
    <li class="divider"></li>
    <li><a href="#!">three</a></li>
</ul>

<div id="map-panel" class="container">
	<div class="row">
		<div class="col s9 side-bar">
			<img src="https://chronicles-of-alohmar.s3.amazonaws.com/uploads/GreenAndAddedVolcSuperCompressed.png" id="big-map" alt="big-map", usemap='#big-mapping' >
		</div>
		<div class="col s3 side-bar">
			<ul id="map-tablist" class="tabs">
		        <li id="geo-tab" class="tab col s3"><a href="#geo-inf" class="material-icons tooltipped" data-position="bottom" data-delay="50" data-tooltip="Geography"  style="font-size:36px;">language</a></li>
		        <li id="pol-tab" class="tab col s3"><a href="#pol-inf" class="material-icons tooltipped" data-position="bottom" data-delay="50" data-tooltip="Political"  style="font-size:36px;">supervisor_account</a></li>
		        <li id="rel-tab" class="tab col s3"><a href="#rel-inf" class="material-icons tooltipped" data-position="bottom" data-delay="50" data-tooltip="Religious"  style="font-size:36px;">vpn_key</a></li>
		        <li id="vis-tab" class="tab col s3"><a href="#vis-inf" class="material-icons tooltipped" data-position="bottom" data-delay="50" data-tooltip="Visibility"  style="font-size:36px;">visibility</a></li>
      		</ul>
			<div id="geo-inf" class="col s12"></div>
			<div id="pol-inf" class="col s12"></div>
			<div id="rel-inf" class="col s12"></div>
			<div id="vis-inf" class="col s12"></div>
		</div>
	</div>
</div>
