
<%=render "small_mapping"%>

<!-- <a id="make-big" class="zoom-l btn-floating btn-large waves-effect waves-light red">L</a>

<a id="make-medium" class="zoom-m btn-floating btn-large waves-effect waves-light red">M</a>

<a id="make-small" class="zoom-s btn-floating btn-large waves-effect waves-light red">S</a>

<a id="shader-volc" class="shader-volc btn-floating btn-large waves-effect waves-light red">V</a>
 -->

<a class='dropdown-button btn' href='#' data-activates='dropdown-zooms'>Map Zoom</a>
<a class='dropdown-button btn' href='#' data-activates='dropdown-zooms2'>Overlays</a>
<!-- 
<ul id='drop-shaders' class='dropdown-content'>
    <li><a id="shader-volc" href="#!">Volcanism</a></li>
    <li><a id="shader-leyline" href="#!">Leyline Strength</a></li>
    <li><a id="shader-difficulty" href="#!">Terrain Difficulty</a></li>
    <li><a id="shader-dev-multiplier" href="#!">Development Multiplier</a></li>
</ul> -->

<ul id='dropdown-zooms' class='dropdown-content'>
    <li><a id="make-large" href="#!">Large</a></li>
    <li><a id="make-medium" href="#!">Medium</a></li>
    <li><a id="make-small" href="#!">Small</a></li>
</ul>

<ul id='dropdown-zooms2' class='dropdown-content'>
  <li><a id="shader-volc" href="#!">Volcanism</a></li>
    <li><a id="shader-leyline" href="#!">Leyline Strength</a></li>
    <li><a id="shader-difficulty" href="#!">Terrain Difficulty</a></li>
    <li><a id="shader-dev-multiplier" href="#!">Development Multiplier</a></li>
    <li><a id="shader-total-pop" href="#!">Population</a></li>
</ul>

<div id="map-panel" class="container">
	<div class="row">
		<div class="col s9 side-bar">
			<img src="https://chronicles-of-alohmar.s3.amazonaws.com/uploads/minimap.png" id="small-map" alt="small-map", usemap='#small-mapping' >
		</div>
		<div class="col s3 side-bar">
			<ul id="map-tablist" class="tabs">
		        <li id="geo-tab" class="tab col s3"><a href="#geo-inf" class="material-icons tooltipped" data-position="bottom" data-delay="50" data-tooltip="Geography"  style="font-size:36px;">language</a></li>
		        <li id="pol-tab" class="tab col s3"><a href="#pol-inf" class="material-icons tooltipped" data-position="bottom" data-delay="50" data-tooltip="Political"  style="font-size:36px;">supervisor_account</a></li>
		        <li id="rel-tab" class="tab col s3"><a href="#rel-inf" class="material-icons tooltipped" data-position="bottom" data-delay="50" data-tooltip="Religious"  style="font-size:36px;">vpn_key</a></li>
		        <li id="vis-tab" class="tab col s3"><a href="#vis-inf" class="material-icons tooltipped" data-position="bottom" data-delay="50" data-tooltip="Visibility"  style="font-size:36px;">visibility</a></li>
      		</ul>
			<div id="geo-inf" class="col s12"></div>
			<div id="pol-inf" class="col s12"></div>
			<div id="rel-inf" class="col s12"></div>
			<div id="vis-inf" class="col s12"></div>
		</div>
	</div>
</div>
