<div class="card horizontal">

	<div class="card-picture">
		<%= image_tag(myth.myth_pic, height: "80", width: "80", style: "object-fit: contain;") %>
	</div>
	
	<div class="card-stacked">

		<div class="card-content">
			<span class="myth-title">
				<%= myth.title %>
			</span>
		</div>

	</div>

</div>