<!DOCTYPE html>
<html>
<head>
	<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
 	<h3>Message From <%= @message.user.username %></h3>
    <h4>
    	<%= @message.content %>
    </h4>
    <br>
    <p>If you would like to unsubscribe from further notifications from Chronicles of Alohmar... let me know!  Someday I'll get around to putting an unsbuscribe link here, and user profile choices about how MUCh email to get... but today is not that day.</p>
</body>
</html>