<table class="highlight">
  <thead>
    <tr>
      <th>User</th>
      <th>Subject</th>
      <th>Content</th>
      <th>Responses</th>
      <th>Most Recent</th>
      <th>Posted On</th>
    </tr>
  </thead>

  <tbody>
    <% @posts.sort.reverse.each do |post| %>
      <% if post.reference_id == @ref %>
        <% @lpost = post %>
          <tr class="row-link" dest=<%= "/posts/#{post.id}" %> >
            <%= render "list_item", :layout => false, locals: {post: @lpost} %>
          </tr>
        </a>
      <%end%>
    <% end %>
  </tbody>
</table>


