.main-map{
	max-height:100%;
	max-width:100%;
}

.side-bar{
	height:90vh;
	overflow: scroll;
}

#map-panel{
	width:90%;
	max-width:90%;
}

#map-tablist{
	font-size:36px;
}

#geo-tab #pol-tab #rel-tab #etc-tab{
	font-size:36px;
}

.zoom-l{
	position: absolute;
}

.zoom-m{
	position: absolute;
	left:65px;
}

.zoom-s{
	position: absolute;
	left:130px;
}

.shader-volc{
	position: absolute;
	left:195px;
}

.dropdown-content.nested {
   overflow-y: visible;
}

.dropdown-content .dropdown-content {
   margin-left: 100%;
}