.main-map{
	max-height:100%;
	max-width:100%;
}

.side-bar{
	height:90vh;
	overflow: scroll;
}

#map-panel{
	width:90%;
	max-width:90%;
}

#map-tablist{
	font-size:36px;
}

#geo-tab #pol-tab #rel-tab #etc-tab{
	font-size:36px;
}

.zoom-l{
	position: absolute;
}

.zoom-m{
	position: absolute;
	left:65px;
}

.zoom-s{
	position: absolute;
	left:135px;
}