<nav>
	<div class="nav-wrapper blue">
		<a href="#!" class="brand-logo">Palomar</a>
		<ul class="right hide-on-med-and-down">
			<li><a class="waves-effect waves-light btn">Home</a></li>
			<li><a href="#">Map</a></li>
			<li><a href="#">Forum</a></li>
			<li><a href="#">Deities</a></li>
			<li><a href="#">Profile</a></li>
		</ul>
	</div>
</nav>



